MONGODB_URI="YOUR_ATLAS_CONNECTION_STRING"

MONGODB_DB_NAME="YOUR_DATABASE_NAME"

SESSION_SECRET="YOUR_SESSION_SECRET"

PERSONAL_ADMIN_EMAIL="YOUR_PERSONAL_ADMIN_EMAIL"
PERSONAL_ADMIN_NICKNAME="YOUR_PERSONAL_ADMIN_NICKNAME"
PERSONAL_ADMIN_PASSWORD="YOUR_PERSONAL_ADMIN_PASSWORD"

TEST_USER_EMAIL="YOUR_TEST_USER_EMAIL"
TEST_USER_NICKNAME="YOUR_TEST_USER_NICKNAME"
TEST_USER_PASSWORD="YOUR_TEST_USER_PASSWORD"

TEST_MODERATOR_EMAIL="YOUR_TEST_MODERATOR_EMAIL"
TEST_MODERATOR_NICKNAME="YOUR_TEST_MODERATOR_NICKNAME"
TEST_MODERATOR_PASSWORD="YOUR_TEST_MODERATOR_PASSWORD"

TEST_ADMIN_EMAIL="YOUR_TEST_ADMIN_EMAIL"
TEST_ADMIN_NICKNAME="YOUR_TEST_ADMIN_NICKNAME"
TEST_ADMIN_PASSWORD="YOUR_TEST_ADMIN_PASSWORD"